.panelAdminContainer {
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2rem;

    .admin_blog_container {
        grid-column: 1;
        grid-row: 2;
    }

    .admin_collection_container {
        grid-column: 1;
        grid-row: 1;
    }
    
    .admin_image_container {
        grid-column: 2;
        grid-row: 1;
    }

    .admin_user_container {
        grid-column: 2;
        grid-row: 2;
    }

    .text-right {
        min-width: 158px;
    }
}

.sub_container {
    table {
        margin-top: 1rem!important;        
    }

    th {
        border-top: 2px solid #dbdbdb!important;
    }
}

.admin_title {
    border-bottom: 1px solid black;
}