.homepage {

    .title {
        margin-bottom: 4rem;
    }

    .subtitle {
        margin-bottom: 4rem;        
    }

    .main__logo {
        width: 300px;
        margin: 0 auto;
        margin-bottom: 2rem;
        
        display: block;
    }
    
    .search__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .search__image {
            height: 140px;
            width: 100%;
        }
    }

    .features__container {

        .features__image {
            width: 400px;
        }
    }    
}
