.search__container {
    margin-bottom: 4rem;

    .search__tile__container {
        min-height: 16rem;
        height: auto;     
    }

    .search__input__container {
        width: 70%; 
        margin: 0 auto;

        margin-bottom: 1rem;

        .search__input {
            width: 100%;
            height: 50px;
            font-size: 1.5rem;
        }
    }
}


.popular__queries__container { 
    display: flex;
    
    
    .popular__queries__container__text {
        display: flex;

        margin-bottom: 2rem;
    
        .popular__queries__text {
            margin-left: 1rem;
        }
    }
}

.reference__tool__start {
    width: 100vw;
    height: 100vh;     
    position: fixed;
    top: 0;
    left: 0;
    
    z-index: 10;
    
    // position: fixed;
    background: white; // put an opacity in, perhaps. 
    border: 1px solid black;

    .inner {
        width: 100%;
        height: 100%;

        display: grid;    
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: 1fr 9fr 1fr;    
        grid-template-areas:
        "navbar navbar navbar"
        "leftbar middlebar middlebar"
        "bottombar bottombar bottombar";


        .popup__navbar {
            grid-area: navbar;  

            .draw__button {
                
            }
        }
    
        .popup__leftbar {
            grid-area: leftbar;
            
            position: relative;
            right: 400px;

            transition: right 1s;

            border: 1px solid black;
            background: blue;
        }
        
        .popup__middlebar {
            grid-area: middlebar;
            
            .image__container {
                transition: opacity 1s; 
                opacity: 1;
            }

            .image__container--pause {
                opacity: 0;
            }
        }

        .popup__bottombar {
            grid-area: bottombar;
            
            display: flex;
            justify-content: center;
            
            .skip__pause__stop__container {
                display: flex;
                flex-direction: column;
                
                width: 400px;

                .button__row {
                    display: flex;
                    justify-content: space-around;

                    .button {
                    }
                }
                .timing__bar {
                    
                }
            }
        }            
    }

    .outer {
    
    }
}

.reference__tool__stop {
    .selectionComponent {
        margin-bottom: 2rem;

        .reference_search__tile__container {
            display: flex;
            height: 80px;

            .search__image__container {
                // height: 100%;
                width: 50%;
                .search__image {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }

    .radio__interval__type__container {

    }

    .radio__interval__timing__container {
        min-height: 124px;
    }

    .uncheckedRadio {
        min-width: 42px;
    }

    .checkedRadio {
        min-width: 42px;
    }

    form {
        margin-bottom: 2rem;
        label {
            padding: 10px;

            input {
                display: none;  
            }
        }
    }


    .radio__upsidedown__container {
        
    }

    
}

.reference__tool__loading {
    
}

.reference__tool__finish {
    
}



@media screen and (min-width: 768px) {
    .searched__collections__container {
        min-width: 775px;
        width: 775px;
    }    
}


@media screen and (max-width: 768px) {
    .search__container {
        .search__tile__container {
            min-height: 0;
            height: auto;
    
            .search__information__container {
                position: absolute;
                margin-top: -9rem;
                margin-left: 1rem;
                
                .search__tile__link {
                    // position: absolute;
                    // left: 1rem;
                    // padding-top: 1rem;
            
                    .search__tile__display__name {
                        font-size: 2.5rem;
                    }
                }        
            }
        }
    }
}