.search__container {
    .search__input__container {
        width: 70%; 
        margin: 0 auto;

        margin-bottom: 3rem;
    
        .search__input {
            width: 100%;
            height: 50px;
            font-size: 1.5rem;
        }
    }
}


.reference__tool__start {
    width: 100vw;
    height: 100vh;     
    position: fixed;
    top: 0;
    left: 0;
    
    z-index: 10;
    
    // position: fixed;
    background: white; // put an opacity in, perhaps. 
    border: 1px solid black;

    .inner {
        width: 100%;
        height: 100%;

        display: grid;    
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: 1fr 9fr 1fr;    
        grid-template-areas:
        "navbar navbar navbar"
        "leftbar middlebar middlebar"
        "bottombar bottombar bottombar";


        .popup__navbar {
            grid-area: navbar;  

            .draw__button {
                
            }
        }
    
        .popup__leftbar {
            grid-area: leftbar;
            
            position: relative;
            right: 400px;

            transition: right 1s;

            border: 1px solid black;
            background: blue;
        }
        
        .popup__middlebar {
            grid-area: middlebar;
            
            .image__container {
                transition: opacity 1s; 
                opacity: 1;
            }

            .image__container--pause {
                opacity: 0;
            }
        }

        .popup__bottombar {
            grid-area: bottombar;
            
            display: flex;
            justify-content: center;
            
            .skip__pause__stop__container {
                display: flex;
                flex-direction: column;
                
                width: 400px;

                .button__row {
                    display: flex;
                    justify-content: space-around;

                    .button {
                    }
                }
                .timing__bar {
                    
                }
            }
        }            
    }

    .outer {
    
    }
}

.reference__tool__stop {
    .selectionComponent {
        margin-bottom: 2rem;
    }
    .uncheckedRadio {
        background: red; 
    }

    .checkedRadio {
        background: blue;
    }

    form {
        margin-bottom: 2rem;
        label {
            padding: 10px;

            input {
                display: none;  
            }
        }
    }


    .radio__upsidedown__container {
        
    }

    
}

.reference__tool__loading {
    
}

.reference__tool__finish {
    
}