<div class="container">
    <h2>Edit Collection</h2>

    <%= render "formCollectionAdmin.html", Map.put(assigns, :action, collection_path(@conn, :update, @collection)) %>

    <span><%= link "Back", to: admin_path(@conn, :panelPageAdmin) %></span>
</div>