<div class="container">
    <span><%= link "Back", to: admin_path(@conn, :panelPageAdmin) %></span>
    <h2>New Blog</h2>

    <%= render "formBlogAdmin.html", Map.put(assigns, :action, blog_path(@conn, :create)) %>

    <span><%= link "Back", to: admin_path(@conn, :panelPageAdmin) %></span>
</div>