<div class="container">
    <span><%= link "Back", to: admin_path(@conn, :panelPageAdmin) %></span>
    <h2>New Collection</h2>

    <%= render "formCollectionAdmin.html", Map.put(assigns, :action, collection_path(@conn, :create)) %>

    <span><%= link "Back", to: admin_path(@conn, :panelPageAdmin) %></span>
</div>