<div class="container">
    <span><%= link "Back", to: admin_path(@conn, :panelPageAdmin) %></span>

    <h2>New User</h2>

    <%= render "formUserAdmin.html", Map.put(assigns, :action, user_path(@conn, :create)) %>

    <span><%= link "Back", to: admin_path(@conn, :panelPageAdmin) %></span>
</div>