<!DOCTYPE html>
<html>
  <head>
    <%= render_partial "head.html", assigns %>
  </head>

  <body>

  <%# is-fullhd %>
    <section class="section">
      <%= render_partial "navbar.html", assigns %>
    </section>
    
    <section class="section">
      <%= render @view_module, @view_template, assigns %>
    </section>

    <section class="section">
      <%= render_partial "footer.html", assigns %>
    </section>

    <script src="<%= static_path(@conn, "/js/app.js")%>"></script>
  </body>
</html>



